:root, .light, .light-theme {
  --red-1: #fefcfc;
  --red-2: #fff7f4;
  --red-3: #feece6;
  --red-4: #ffdcd0;
  --red-5: #ffcfbe;
  --red-6: #f9c3b0;
  --red-7: #edb19d;
  --red-8: #e09880;
  --red-9: #d37859;
  --red-10: #c56c4e;
  --red-11: #a8563a;
  --red-12: #4a3129;

  --red-a1: #aa000003;
  --red-a2: #ff46000b;
  --red-a3: #f53e0019;
  --red-a4: #ff42002f;
  --red-a5: #ff430041;
  --red-a6: #ec3e004f;
  --red-a7: #d1350062;
  --red-a8: #c131007f;
  --red-a9: #bc3000a6;
  --red-a10: #ac2b00b1;
  --red-a11: #8f2400c5;
  --red-a12: #270a00d6;

  --red-contrast: #fff;
  --red-surface: #fff5f1cc;
  --red-indicator: #d37859;
  --red-track: #d37859;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --red-1: oklch(99.3% 0.002 39.46);
      --red-2: oklch(98.1% 0.009 39.46);
      --red-3: oklch(95.6% 0.022 39.46);
      --red-4: oklch(92.3% 0.045 39.46);
      --red-5: oklch(89.4% 0.061 39.46);
      --red-6: oklch(86% 0.068 39.46);
      --red-7: oklch(81.1% 0.076 39.46);
      --red-8: oklch(74.6% 0.093 39.46);
      --red-9: oklch(66.7% 0.122 39.46);
      --red-10: oklch(62.7% 0.121 39.46);
      --red-11: oklch(54.7% 0.116 39.46);
      --red-12: oklch(34% 0.039 39.46);

      --red-a1: color(display-p3 0.675 0.024 0.024 / 0.012);
      --red-a2: color(display-p3 0.914 0.29 0.02 / 0.044);
      --red-a3: color(display-p3 0.835 0.259 0.012 / 0.095);
      --red-a4: color(display-p3 0.871 0.247 0.004 / 0.177);
      --red-a5: color(display-p3 0.875 0.263 0.004 / 0.244);
      --red-a6: color(display-p3 0.82 0.239 0.004 / 0.299);
      --red-a7: color(display-p3 0.718 0.204 0.004 / 0.373);
      --red-a8: color(display-p3 0.659 0.188 0.004 / 0.483);
      --red-a9: color(display-p3 0.651 0.18 0 / 0.628);
      --red-a10: color(display-p3 0.588 0.161 0 / 0.667);
      --red-a11: color(display-p3 0.486 0.137 0 / 0.75);
      --red-a12: color(display-p3 0.133 0.039 0 / 0.836);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.992 0.961 0.953 / 0.8);
      --red-indicator: oklch(66.7% 0.122 39.46);
      --red-track: oklch(66.7% 0.122 39.46);
    }
  }
}

:root, .light, .light-theme {
  --gray-1: #fdfcfc;
  --gray-2: #faf8f8;
  --gray-3: #f2efee;
  --gray-4: #ebe7e5;
  --gray-5: #e4e0de;
  --gray-6: #ddd8d5;
  --gray-7: #d3cdca;
  --gray-8: #c1b9b5;
  --gray-9: #948b86;
  --gray-10: #89807c;
  --gray-11: #69625e;
  --gray-12: #241f1c;

  --gray-a1: #55000003;
  --gray-a2: #49000007;
  --gray-a3: #3c0f0011;
  --gray-a4: #3b14001a;
  --gray-a5: #2f100021;
  --gray-a6: #3113002a;
  --gray-a7: #2c0f0035;
  --gray-a8: #2a0e014a;
  --gray-a9: #1e0b0079;
  --gray-a10: #1a080083;
  --gray-a11: #120700a1;
  --gray-a12: #090300e3;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #948b86;
  --gray-track: #948b86;

  --shadow-color: 300deg 3% 78%;
  --shadow-medium:
    0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.21),
    0.6px 1.2px 1.4px -1px hsl(var(--shadow-color) / 0.19),
    1.5px 3px 3.5px -2px hsl(var(--shadow-color) / 0.18),
    3.8px 7.5px 8.8px -3px hsl(var(--shadow-color) / 0.16);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.2% 0.001 48.58);
      --gray-2: oklch(98.2% 0.002 48.58);
      --gray-3: oklch(95.4% 0.003 48.58);
      --gray-4: oklch(93.1% 0.004 48.58);
      --gray-5: oklch(90.9% 0.005 48.58);
      --gray-6: oklch(88.4% 0.006 48.58);
      --gray-7: oklch(85.1% 0.008 48.58);
      --gray-8: oklch(79.1% 0.011 48.58);
      --gray-9: oklch(64.3% 0.013 48.58);
      --gray-10: oklch(60.7% 0.012 48.58);
      --gray-11: oklch(50.1% 0.01 48.58);
      --gray-12: oklch(24.3% 0.01 48.58);

      --gray-a1: color(display-p3 0.349 0.024 0.024 / 0.012);
      --gray-a2: color(display-p3 0.302 0.024 0.024 / 0.028);
      --gray-a3: color(display-p3 0.184 0.067 0.008 / 0.067);
      --gray-a4: color(display-p3 0.196 0.078 0.004 / 0.102);
      --gray-a5: color(display-p3 0.157 0.067 0.008 / 0.13);
      --gray-a6: color(display-p3 0.169 0.075 0.004 / 0.165);
      --gray-a7: color(display-p3 0.153 0.059 0.004 / 0.208);
      --gray-a8: color(display-p3 0.141 0.047 0.004 / 0.287);
      --gray-a9: color(display-p3 0.094 0.035 0.004 / 0.471);
      --gray-a10: color(display-p3 0.078 0.024 0 / 0.51);
      --gray-a11: color(display-p3 0.063 0.027 0 / 0.632);
      --gray-a12: color(display-p3 0.031 0.012 0 / 0.891);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.3% 0.013 48.58);
      --gray-track: oklch(64.3% 0.013 48.58);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --color-background: #FAF9FA;
}

.dark, .dark-theme {
  --red-1: #100c0a;
  --red-2: #1c1613;
  --red-3: #301d16;
  --red-4: #412117;
  --red-5: #4e291d;
  --red-6: #5e3527;
  --red-7: #734434;
  --red-8: #955742;
  --red-9: #d37859;
  --red-10: #c66c4d;
  --red-11: #f7a285;
  --red-12: #f8d9cf;

  --red-a1: #b80c0003;
  --red-a2: #fcb7640f;
  --red-a3: #ff854724;
  --red-a4: #ff703936;
  --red-a5: #fe794744;
  --red-a6: #ff875955;
  --red-a7: #ff92696b;
  --red-a8: #ff926b8f;
  --red-a9: #fe9069d1;
  --red-a10: #ff8961c3;
  --red-a11: #ffa789f7;
  --red-a12: #ffdfd5f8;

  --red-contrast: #fff;
  --red-surface: #2a201880;
  --red-indicator: #d37859;
  --red-track: #d37859;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --red-1: oklch(15.8% 0.007 39.46);
      --red-2: oklch(20.6% 0.012 39.46);
      --red-3: oklch(25.2% 0.033 39.46);
      --red-4: oklch(28.9% 0.052 39.46);
      --red-5: oklch(32.7% 0.059 39.46);
      --red-6: oklch(37.5% 0.064 39.46);
      --red-7: oklch(43.8% 0.071 39.46);
      --red-8: oklch(52.4% 0.088 39.46);
      --red-9: oklch(66.7% 0.122 39.46);
      --red-10: oklch(62.7% 0.122 39.46);
      --red-11: oklch(79.1% 0.11 39.46);
      --red-12: oklch(90.8% 0.037 39.46);

      --red-a1: color(display-p3 0.843 0.051 0 / 0.005);
      --red-a2: color(display-p3 1 0.776 0.42 / 0.054);
      --red-a3: color(display-p3 1 0.596 0.329 / 0.129);
      --red-a4: color(display-p3 0.996 0.51 0.278 / 0.196);
      --red-a5: color(display-p3 1 0.545 0.341 / 0.245);
      --red-a6: color(display-p3 0.996 0.596 0.412 / 0.308);
      --red-a7: color(display-p3 0.996 0.631 0.463 / 0.391);
      --red-a8: color(display-p3 1 0.631 0.475 / 0.523);
      --red-a9: color(display-p3 1 0.62 0.471 / 0.768);
      --red-a10: color(display-p3 1 0.604 0.439 / 0.714);
      --red-a11: color(display-p3 1 0.706 0.584 / 0.918);
      --red-a12: color(display-p3 0.996 0.894 0.859 / 0.951);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.157 0.125 0.102 / 0.5);
      --red-indicator: oklch(66.7% 0.122 39.46);
      --red-track: oklch(66.7% 0.122 39.46);
    }
  }
}

.dark, .dark-theme {
  --gray-1: #0e0c0b;
  --gray-2: #1a1817;
  --gray-3: #242220;
  --gray-4: #2c2927;
  --gray-5: #34302e;
  --gray-6: #3e3936;
  --gray-7: #4d4744;
  --gray-8: #665e59;
  --gray-9: #756c67;
  --gray-10: #827a75;
  --gray-11: #bab2ae;
  --gray-12: #efeeed;

  --gray-a1: #0e0c0137;
  --gray-a2: #faf8bf0d;
  --gray-a3: #f8f6ce18;
  --gray-a4: #fef4d620;
  --gray-a5: #fbecd629;
  --gray-a6: #feedd633;
  --gray-a7: #feeddc43;
  --gray-a8: #fdeada5e;
  --gray-a9: #ffeddf6d;
  --gray-a10: #fff1e47b;
  --gray-a11: #fff5eeb6;
  --gray-a12: #fefdfcef;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #756c67;
  --gray-track: #756c67;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(15.8% 0.003 51.22);
      --gray-2: oklch(21% 0.003 51.22);
      --gray-3: oklch(25.2% 0.004 51.22);
      --gray-4: oklch(28.2% 0.006 51.22);
      --gray-5: oklch(31.3% 0.007 51.22);
      --gray-6: oklch(34.9% 0.008 51.22);
      --gray-7: oklch(40.2% 0.01 51.22);
      --gray-8: oklch(48.8% 0.013 51.22);
      --gray-9: oklch(53.8% 0.013 51.22);
      --gray-10: oklch(58.4% 0.013 51.22);
      --gray-11: oklch(77% 0.011 51.22);
      --gray-12: oklch(94.9% 0.002 51.22);

      --gray-a1: color(display-p3 0.055 0.047 0.004 / 0.215);
      --gray-a2: color(display-p3 0.996 0.992 0.761 / 0.05);
      --gray-a3: color(display-p3 0.996 0.988 0.824 / 0.092);
      --gray-a4: color(display-p3 0.996 0.988 0.867 / 0.121);
      --gray-a5: color(display-p3 1 0.965 0.871 / 0.154);
      --gray-a6: color(display-p3 0.996 0.949 0.859 / 0.196);
      --gray-a7: color(display-p3 1 0.945 0.878 / 0.258);
      --gray-a8: color(display-p3 1 0.937 0.882 / 0.361);
      --gray-a9: color(display-p3 1 0.945 0.898 / 0.42);
      --gray-a10: color(display-p3 1 0.953 0.91 / 0.478);
      --gray-a11: color(display-p3 1 0.965 0.945 / 0.71);
      --gray-a12: color(display-p3 1 0.996 0.992 / 0.934);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.8% 0.013 51.22);
      --gray-track: oklch(53.8% 0.013 51.22);
    }
  }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #0e0c0e;
}
