---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { getISOWeek, addWeeks } from "date-fns";
import { db, Meals } from "astro:db";

const now = new Date();
const currentWeekNumber = getISOWeek(now).toString();
const currentISOWeek = `2024-W${currentWeekNumber}`;

const nextWeek = addWeeks(now, 1);
const nextWeekNumber = getISOWeek(nextWeek).toString();
const nextISOWeek = `2024-W${nextWeekNumber}`;

if (Astro.request.method === "POST") {
  // parse form data
  const data = await Astro.request.formData();
  const mealName = data.get("name");
  const mealType = data.get("meal_type");
  const mfUrl = data.get("macrofactor_url");
  const day = data.get("day");
  const notes = data.get("notes");
  const week = data.get("week");
  const dayOfWeek = data.get("dayOfWeek");
  try {
    if (
      typeof mealName === "string" ||
      typeof mealType === "string" ||
      // typeof day === "string" ||
      typeof notes === "string" ||
      typeof mfUrl === "string" ||
      typeof week === "string" ||
      typeof dayOfWeek === "string"
    ) {
      await db.insert(Meals).values({
        name: mealName,
        macrofactor_url: mfUrl,
        // day: day,
        notes,
        meal_type: mealType,
        week,
        dayOfWeek,
      });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<DefaultLayout title="Add new items">
  <h1>Add new meal</h1>
  <form method="POST">
    <div>
      <label for="week">Week</label>
      <!-- <input id="week" name="week" type="week" /> -->
      <select id="week" name="week">
        <option value={currentISOWeek}>This week</option>
        <option value={nextISOWeek}>Next week</option>
      </select>
    </div>

    <div>
      <label for="dayOfWeek">Day of week</label>
      <select id="dayOfWeek" name="dayOfWeek">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
      </select>
    </div>

    <div>
      <label for="name">Meal name</label>
      <input id="name" name="name" />
    </div>

    <div>
      <label for="meal_type">Meal type</label>
      <select id="meal_type" name="meal_type">
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
      </select>
    </div>

    <div>
      <label for="macrofactor_url">MacroFactor link</label>
      <input id="macrofactor_url" name="macrofactor_url" />
    </div>

    <div>
      <label for="notes">Notes</label>
      <textarea id="notes" name="notes"></textarea>
    </div>

    <button type="submit">Submit</button>
  </form>
</DefaultLayout>
