---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { db, Meals } from "astro:db";

if (Astro.request.method === "POST") {
  // parse form data
  const data = await Astro.request.formData();
  const mealName = data.get("name");
  const mealType = data.get("meal_type");
  const mfUrl = data.get("macrofactor_url");
  const day = data.get("day");
  const notes = data.get("notes");
  try {
    if (
      typeof mealName === "string" ||
      typeof mealType === "string" ||
      typeof day === "string" ||
      typeof notes === "string" ||
      typeof mfUrl === "string"
    ) {
      // insert form data into the Comment table
      await db
        .insert(Meals)
        .values({
          name: mealName,
          macrofactor_url: mfUrl,
          day: new Date(day),
          notes,
          meal_type: mealType,
        });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<DefaultLayout title="Add new items">
  <h2>Add new meal</h2>
  <form method="POST" style="display: grid">
    <label for="date">Date</label>
    <input id="date" name="date" type="date" />

    <label for="meal-name">Meal name</label>
    <input id="meal-name" name="name" />

    <label for="meal-type">Meal type</label>
    <select id="meal-type">
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
    </select>

    <label for="mf-link">MacroFactor link</label>
    <input id="mf-link" name="mf-link" />

    <label for="meal-notes">Notes</label>
    <textarea id="meal-notes" name="notes"></textarea>

    <button type="submit">Submit</button>
  </form>
</DefaultLayout>
