---
import { db, Foods } from "astro:db";
// export const prerender = true;

if (Astro.request.method === "POST") {
  // parse form data
  const data = await Astro.request.formData();
  const foodName = data.get("name");
  try {
    if (typeof foodName === "string") {
      // insert form data into the Comment table
      await db
        .insert(Foods)
        .values({ name: foodName, label_image: "path/to/image.jpg" });
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

const foods = await db.select().from(Foods);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    {
      foods.map(({ name }) => (
        <article>
          <p>{name}</p>
        </article>
      ))
    }
    <form method="POST" style="display: grid">
      <label for="food_name">Food name</label>
      <input id="food_name" name="name" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
